@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

:root{
  --navbarheadersize: 30px;

  --primary: rgb(39, 54, 74);

  --primary-font: 'Rubik';
  --secondary-font: 'Rubik';

}



.header-size{
  font-size: var(--navbarheadersize);
}

body{
  font: 15px/1.5 var(--secondary-font), Arial, sans-serif;
  padding:0;
  margin:0;
  background-color: white;
  position: absolute;
  width: 100%;
  top: 100px; /* how much you want to shift entire body down */
  height: 3000px; /*get rid of this - this just makes height of screen 3000 */
}

.logo-size{
  height: var(--navbarheadersize);
}

.navbar{
  background-image: linear-gradient(180deg, lightgray, white) ;
  border-bottom: 1px black solid;
  height: 80px;
}



.nav li{
  margin-left:20px;
  margin-right: 0px;
}

.dropdown-nav{
  margin-left: 20px;
  margin-right: 0px;
}

.footer-right{
  float: right;
}

.footer{
  position: absolute;
  bottom:0px;
}

.dropdown-align{
  width: 80px;
}




table{
  text-align:center;
}


.container{
  text-align: center;
}

.error{
  padding-bottom: 20px;
}

#flash-error{
  color: red;
}


/* Copy and pasted */
.dropbtn {
  background-color: rgba(30, 144, 255, 0.8); /* dodger blue */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(30, 144, 255, 0.95);}

#logout-button{
  color:red;
}

.navbar-fixed-top{
  position:fixed;
  top:0px;
  width: 100%;
}
