{% extends 'bootstrap/base.html' %}

{% block title %}
    {% block page_title %}{% endblock %} - GitInfo
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="icon" type="image/png" href="static/logo.png">
<link rel="apple-touch-icon" type="image/png" href="static/logo.png"/>
<script type='text/javascript'>
	window.smartlook||(function(d) {
	  var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
	  var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
	  c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
	  })(document);
	  smartlook('init', '91d7c7c2dcfe3086f88fbfc16bfd6f5a43de049e', { region: 'eu' });
  </script>
{% block head_content %}{% endblock %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" style="padding: 0px">
		<div class="navbar-header">
			<a class="navbar-brand header-size" href="/">
				<span style="padding: 10px"></span>
				GitInfo
				<span><img id="logo" src="/static/logo.png" height=60px></span>
			</a>
		</div>

		<div class="navbar-links">
			<ul class="nav">
				<li><a class="navbar-text" href="/">Home</a></li>
				<li><a class="navbar-text" href="/about">About</a></li>
				<li><a class="navbar-text" href = "/login" target = "">Log In</a></li>
				<li><a class="navbar-text" href="/signup" target="">Sign Up</a></li>
				<li class="navbar-text theme-switch">
					<div class="toggle-box">
						<input type="checkbox" name="checkbox1" id="toggle-box-checkbox">
						<label for="toggle-box-checkbox" class="toggle-box-label-left"></label>
						<label for="toggle-box-checkbox" class="toggle-box-label"></label>
					</div>
				</li>
			</ul>
		</div>
    </nav>
{% endblock %}

{% block content %}
    <body>
        <div class="container-fluid body-content" style="padding: 50px">
            {% block page_content %}{% endblock %}
        </div>

        <div class="container-fluid footer">
            <hr>
            <p class="panel-footer footer-text"><a href="#" class="footer-right">Back to Top</a></p>
        </div>
		
		
		<script src="{{url_for('static', filename='themetoggle.js')}}"></script>
    </body>

{% endblock %}