{% extends 'dashboardBase.html' %}

{%  block page_title %} Dashboard {%  endblock %}

{%  block page_content %}
    <section class="body-page-wrapper">
        <div class="body-content-wrapper">
            <div class="body-heading">
                <h1 class="body-header"> Authorise GITHUB Account</h1>
            </div>
            <hr>
            <div id="about-content">
                <p>Enter your GITHUB username</p>
            </div>
            <hr>
            <div id="setting-content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p class="flash-content">{{ msg}}</p>
                        {% endfor %}
                        <hr>
                    {% endif %}
                {%  endwith %}
                <form action="" method="post" id="form" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}
                        {{ form.username(size=40, placeholder = 'Enter Your GITHUB Username', class='select-box')}}
                    </p>
                    <p class="error_p">
                        <ul>
                            {% for error in form.username.errors %}
                                <li style="color:red;" class="error">{{error}}</li>
                            {% endfor %}
                        </ul>
                    </p>

                    <p>
                        {{ form.submit()}}
                    </p>

                </form>
            </div>
        </div>
    </section>

{% endblock %}
