{% extends "base.html" %}

{% block pg_title %}Submit{% endblock %}

{% block pg_content %}
    <head>
        <link
            href='https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.2/bokeh.min.css'
            rel="stylesheet" type="text/css">
        <link
            href='https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.2/bokeh-widgets.css'
            rel="stylesheet" type="text/css">
        <link
            href='https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.2/bokeh-tables.css'
            rel="stylesheet" type="text/css">
    </head>
    <body>
        {{ pi_div | safe }}
        {{ pi_script | safe }}
    </body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.2/bokeh.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.2/bokeh-widgets.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.2/bokeh-tables.js'></script>
{% endblock %}
