<!-- this is my submit part: ryans code sends the user to here -->
<!-- ronaldsubmit.html is ronald's part, its only got the pi chart so far -->
{% extends "base.html" %}

{% block pg_title %}Submit{% endblock %}

{% block pg_content %}
<!--<h1>Repo: {{ repo }}</h1>-->

<!--<h2>Commits</h2>-->
<!--{% for commit in commits %}-->
<!--    {{ commit["author"]["login"] }}<br>-->
<!--    {{ commit["commit"]["author"]["date"] }}<br>-->
<!--    {{ commit["commit"]["message"] }}<br><br>-->
<!--{% endfor %}-->
<!--<br>-->
<!--<h2>Languages used:</h2>-->
<!--{% for i in lang %}-->
<!--    {{ i }}: {{ lang[i] }} bytes<br>-->
<!--{% endfor %}-->

<!--<h2>Contributors:</h2>-->
<!--{% for i in cont %}-->
<!--    <h3>Details for {{ i["login"] }}:</h3>-->
<!--    <div class="row" style="text-indent: 20px">-->
<!--        <h4>Number of Contributions: {{ i["contributions"] }}</h4>-->
<!--        <div style="text-align: right">-->
<!--            <img src='{{ i["avatar_url"] }}', width=100px><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    {{ i }}<br><br><br>-->
<!--{% endfor %}-->

<div class="row", style="text-indent: 20px">
    <h2>User Info for {{ user_info["login"] }}:</h2>
    <p>Bio: <cite>{{ user_info["bio"] }}</cite></p>
    <p>{{ user_info["followers"] }} followers, {{ user_info["following"] }} following</p>
    <p>Most used Language: {{ favLang }}</p>
    <div style="text-align: right">
        <img src='{{ user_info["avatar_url"] }}', width=100px><br>
    </div>
</div>
<h3>{{ user_info["login"] }}'s repos:</h3>
{% for i in res %}
    <h3><a href='/ronaldsubmit?owner={{ user_info["login"] }}&repo={{ i["name"] }}'>{{ i["name"] }}</a></h3>
    {% if i["description"] != None %}
    <p>{{ i["description"] }}</p>
    {% endif %}
    {{ i }}<br><br>
{% endfor %}



{% endblock %}


