<!-- this is my submit part: ryans code sends the user to here -->
<!-- ronaldsubmit.html is ronald's part, its only got the pi chart so far -->
{% extends "/Richard/templates/dashboardBase.html" %}

{% block page_title %}Submit{% endblock %}

{% block page_content %}
    <div class="container">


        <div class="row user-headers">

                    <!--<h1>Repo: {{ repo }}</h1>-->

            <!--<h2>Commits</h2>-->
            <!--{% for commit in commits %}-->
            <!--    {{ commit["author"]["login"] }}<br>-->
            <!--    {{ commit["commit"]["author"]["date"] }}<br>-->
            <!--    {{ commit["commit"]["message"] }}<br><br>-->
            <!--{% endfor %}-->
            <!--<br>-->
            <!--<h2>Languages used:</h2>-->
            <!--{% for i in lang %}-->
            <!--    {{ i }}: {{ lang[i] }} bytes<br>-->
            <!--{% endfor %}-->

            <!--<h2>Contributors:</h2>-->
            <!--{% for i in cont %}-->
            <!--    <h3>Details for {{ i["login"] }}:</h3>-->
            <!--    <div class="row" style="text-indent: 20px">-->
            <!--        <h4>Number of Contributions: {{ i["contributions"] }}</h4>-->
            <!--        <div style="text-align: right">-->
            <!--            <img src='{{ i["avatar_url"] }}', width=100px><br>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--    {{ i }}<br><br><br>-->
            <!--{% endfor %}-->

            <div class="user-header">
                <h2>User Info for {{ user_info["login"] }}:</h2>
                {% if user_info["bio"] != None %}
                    <p>Bio: <cite>{{ user_info["bio"] }}</cite></p>
                {% endif %}
                <p>{{ user_info["followers"] }} followers, {{ user_info["following"] }} following</p>
                <p>Primary Language: {{ favLang }}</p>
            </div>

            <div class="user-logo" style="text-align: right;">
                    <img src='{{ user_info["avatar_url"] }}' width=100px style="border-radius: 5px"><br>
            </div>
        </div>

        <br>
        <hr>
        <div class="user-info">
            <h3 style="margin-left: 20px">{{ user_info["login"] }}'s repos:</h3>
            {% for repo in repos %}
                <div class="row user-repo"> <!-- todo change colour later-->
                    <div class="col-lg-4">
                        <h3><a href='/ronaldsubmit?owner={{ user_info["login"] }}&repo={{ repo["name"] }}'>{{ repo["name"] }}</a></h3>
                        {% if repo["description"] != None %}
                            <p>{{ repo["description"] }}</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-4" style="text-align: center">
                        {{ repo["stargazers_count"] }} Stars<br>
                        Primary Language: {{ repo["language"] }}
                    </div>
                    <div class="col-lg-4" style="text-align: right">
                        <a target="_blank" href='{{ repo["html_url"] }}'>View repo</a>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>

    </div>



{% endblock %}


