{% extends "Blair/templates/base.html" %}

{% block pg_title %}{% endblock %}

{% block pg_content %}
<h1>Repo: {{ repo }}</h1>
<h2>Languages used:</h2>
{% for i in lang %}
    {{ i }}: {{ lang[i] }} bytes<br>
{% endfor %}
<h2>Contributors:</h2>
{% for i in cont %}
    <h3>Details for {{ i["login"] }}:</h3>
    <div class="row" style="text-indent: 20px">
        <h4>Number of Contributions: {{ i["contributions"] }}</h4>
        <div style="text-align: right">
            <img src='{{ i["avatar_url"] }}', width=100px><br>
        </div>
    </div>
    {{ i }}<br><br><br>
{% endfor %}
<h2>User Info:</h2>
{% for i in res %}
{{ i }}<br><br>
{% endfor %}
{% endblock %}


