{%  extends 'Richard/templates/dashboardBase.html' %}

{%  block page_title %} Dashboard {%  endblock %}
{% block page_content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="flash-content">{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {%  endwith %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
.searchTerm {
  width: 450px;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  outline: none;
  color: #9DBFAF;
}


.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
.searchButton:hover{
  color: #000;
}

/*input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 450px;
}*/
</style>
	<h1>Dashboard</h1>
    <p>Hello {{ session["user"] }}</p>
	<div style="text-align: center">
		<div class="search">
			<form class="wrap" action="search">
				<input type="text" name="user" class="searchTerm" placeholder="What user do you want to search for?">
				<button type="submit" class="searchButton">
					<i class="fa fa-search"></i>
				</button>
			</form>
			<h1>OR</h1>
			<form class="wrap" action="search">
				<input type="text" class="searchTerm" placeholder="What are you looking for?">
				<button type="submit" class="searchButton">
					<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	
	</div>
	<section id="showcase">
        <div id="dashboard-form">
            <button type="button" id="showcase-button" class="btn btn-info" data-toggle="collapse" data-target="#info">View Other User Repos</button>
            <div id="info" class="collapse">
                <br>
                <form action="" method="post" id="form" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}
                        {{ form.username(size=40, placeholder = '', class='select-box')}}
                    </p>
                    <p class="error_p">
                        <ul>
                            {% for error in form.username.errors %}
                                <li style="color:red;" class="error">{{error}}</li>
                            {% endfor %}
                        </ul>
                    </p>

                    <p>
                        {{ form.submit()}}
                    </p>

                </form>
            </div>
        </div>

    </section>
    

{%  endblock %}
