{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block page_content %}
  <section class="body-page-wrapper">
        <div class="body-content-wrapper">
            <div class="body-heading">
                <h1 class="body-header"> About GitInfo</h1>
            </div>
            <hr>
            <div id="login-info">
                <p>GitInfo provides information about users GitHub accounts</p>
                <p>To get access to your private GitHub repositories and information, as well as other public repositories, click <a href="/signup" id="redirect-signup">Here</a> to sign up</p>
                <p>
            </div>
            <hr>
        </div>
    </section>
    <br>
    <br>
    <br>
	<br>
    <br>
    <br>
{% endblock %}

