{%  extends 'base.html' %}

{%  block page_title %} Signup {%  endblock %}

{%  block page_content %}
    <section class="body-page-wrapper">
        <div class="body-content-wrapper">
            <div class="body-heading">
                <h1 class="body-header"> Sign Up</h1>
            </div>
            <hr>
            <div id="about-content">
                <p>Create your GitInfo account</p>
            </div>
            <hr>
            <div id="setting-content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div id="flash-content">
                            {% for msg in messages %}
                                <p>{{ msg }}</p>
                            {% endfor %}
                        </div>
                        <hr>
                    {% endif %}
                {%  endwith %}
                <form action="" method="post" id="form" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}
                        {{ form.username(size=40, placeholder = 'type username here', class='select-box')}}
                    </p>
                    <p class="error_p">
                        <ul>
                            {% for error in form.username.errors %}
                                <li style="color:red;" class="error">{{error}}</li>
                            {% endfor %}
                        </ul>
                    </p>

                    <p>
                        {{ form.password.label }}
                        {{ form.password(size=40, placeholder = 'type password here', class='select-box')}}
                    </p>
                    <p class="error_p">
                        <ul>
                            {% for error in form.password.errors %}
                                <li style="color:red;" class="error">{{error}}</li>
                            {% endfor %}
                        </ul>
                    </p>

                    <p>
                        {{ form.retypePassword.label }}
                        {{ form.retypePassword(size=40, placeholder = 'type password again here', class='select-box')}}
                    </p>
                    <p class="error_p">
                        <ul>
                            {% for error in form.password.errors %}
                                <li style="color:red;" class="error">{{error}}</li>
                            {% endfor %}
                        </ul>
                    </p>

{#                    <p>#}
{#                        {{ form.email.label }}#}
{#                        {{ form.email(size=40, placeholder = 'type email here', class='select-box')}}#}
{#                    </p>#}
{#                    <p class="error_p">#}
{#                        <ul>#}
{#                            {% for error in form.email.errors %}#}
{#                                <li style="color:red;" class="error">{{error}}</li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </p>#}

{#                    <p>#}
{#                        {{ form.phone.label }}#}
{#                        {{ form.phone(size=40, placeholder = 'type phone number here', class='select-box')}}#}
{#                    </p>#}
{#                    <p class="error_p">#}
{#                        <ul>#}
{#                            {% for error in form.phone.errors %}#}
{#                                <li style="color:red;" class="error">{{error}}</li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </p>#}

                    <p>
                        {{ form.submit()}}
                    </p>
                </form>
            </div>
        </div>
    </section>
{% endblock %}