{% extends "base.html" %}

{% block page_title %}Graph-based User Visualisation{% endblock %}

{% block head_content %}
	<!-- see visjs https://visjs.github.io/vis-network/docs/network/ -->
	<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
	<script type="text/javascript" src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='ryancss.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block page_content %}
	<b>Filter nodes</b>
	<div style="padding: 10px">
		{% for label in nodeLabels %}
			<div style="float: left; padding: 5px">
				<label>
				<input type="checkbox" name="nodeFilter" value="{{ label }}" checked />{{ label }}
				</label>
			</div>
		{% endfor %}
		<br>
	</div>
	<br>
	<div>Double click on a node to be redirected to the user visualisation page.</div>
	<div id="mynetwork" style="width: 100%; height: 100%;"></div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<span id="modal-close">&times;</span>
			</div>
			<div class="modal-body" style="padding: 20px">
				<a id="modal-link" target="_blank" href="/users?user=PLACEHOLDER">Visit the profile of PLACEHOLDER</a>
			</div>
		</div>
	</div>

	
	
	<script type="text/javascript">
		var modal = document.getElementById("myModal");
		
		// When the user clicks on <span> (x), close the modal
		document.getElementById("modal-close").onclick = function() { modal.style.display = "none"; }
		
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
			modal.style.display = "none";
		  }
		}
		
		let nodeLabels = {{ nodeLabels | safe }};
		const nodeFilterValues = {};
		for (let i = 0; i < nodeLabels.length; ++i) nodeFilterValues[nodeLabels[i]] = true;
		var nodes = new vis.DataSet([{{ nodes | safe }}]);
		var allNodes = nodes.get({ returnType: "Object" });
		var nodesView = new vis.DataView(nodes, { filter: (node) => { return nodeFilterValues[node.lang] } });
		document.getElementsByName("nodeFilter").forEach((filter) =>
			filter.addEventListener("change", (e) => {
				const { value, checked } = e.target;
				//console.log(value, checked);
				nodeFilterValues[value] = checked;
				nodesView.refresh();
			})
		);
		var edges = new vis.DataSet([{{ edges | safe }}]);
		
		var network = new vis.Network(
			document.getElementById('mynetwork'), 
			{nodes: nodesView, edges: edges},
			{
				physics: {
					stabilization: true,
				},
				autoResize: true,
				height: '600px',
				width: '100%',
				layout: {
					//randomSeed: 69,
					improvedLayout: false, // handles large graphs better
				},
				
				nodes: {
					shape: "dot",
					scaling: {
						label: { min: 8,max: 30 },
					},
					font: { size: 12, face: "Tahoma" },
					color: "#00AEEF",
					borderWidth: 0,
					shadow: true,
				},
				edges: {
					color: { inherit: "from" },
					width: 0.15,
					smooth: { type: "continuous" },
					hoverWidth: function (width) {return width-1;},
					//shadow: true, // laggy
				},
				interaction: {
					hideEdgesOnDrag: true,
					hideEdgesOnZoom: true,
					tooltipDelay: 200,
				},
			}
		);
		
		network.on("doubleClick", function(properties) {
			if (properties.nodes.length == 0) { return; }
			let name = allNodes[properties.nodes[0]].label;
			document.getElementById("modal-link").href= "/users?user=" + name;
			//document.getElementById("modal-link").href= "https://github.com/" + name;
			document.getElementById("modal-link").text= "Visit the profile of " + name;
			modal.style.display = "block";
		});
		
		
		network.on("click", function neighbourhoodHighlight(params) {
			var updateArray = [];
			for (var nodeId in allNodes) {
				allNodes[nodeId].opacity = 1;
				if (allNodes[nodeId].hiddenLabel !== undefined) {
					allNodes[nodeId].label = allNodes[nodeId].hiddenLabel;
					allNodes[nodeId].hiddenLabel = undefined;
				}
				if (allNodes.hasOwnProperty(nodeId)) updateArray.push(allNodes[nodeId]);
			}
			nodes.update(updateArray);
        
			if (params.nodes.length > 0) {
				var nodeDeg0 = params.nodes[0];
				var nodesDeg1 = network.getConnectedNodes(nodeDeg0);
				
				for (var nodeId in allNodes) { // mark all nodes grey
					allNodes[nodeId].opacity = 0.2;
					if (allNodes[nodeId].hiddenLabel === undefined) {
						allNodes[nodeId].hiddenLabel = allNodes[nodeId].label;
						allNodes[nodeId].label = undefined;
					}
				}
				for (var i = 0; i < nodesDeg1.length; i++) { // first degree nodes
					allNodes[nodesDeg1[i]].opacity = 0.9;
					if (allNodes[nodesDeg1[i]].hiddenLabel !== undefined) {
						allNodes[nodesDeg1[i]].label =
						allNodes[nodesDeg1[i]].hiddenLabel;
						allNodes[nodesDeg1[i]].hiddenLabel = undefined;
					}
				}
				allNodes[nodeDeg0].opacity = 1; // the main node
				if (allNodes[nodeDeg0].hiddenLabel !== undefined) {
					allNodes[nodeDeg0].label = allNodes[nodeDeg0].hiddenLabel;
					allNodes[nodeDeg0].hiddenLabel = undefined;
				}
				var updateArray = [];
				for (nodeId in allNodes) { // transform the object into an array
					if (allNodes.hasOwnProperty(nodeId)) updateArray.push(allNodes[nodeId]);
				}
				nodes.update(updateArray);
			}
		});
	</script>
{% endblock %}