{%  extends 'base.html' %}

{%  block page_title %} Home {%  endblock %}

{%  block page_content %}
    <h2> Login</h2>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p id="flash-error">{{ msg }}</p>
            {% endfor %}
        {% endif %}
        <hr>
    {%  endwith %}
    <form action="" method="post" id="form" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username(size=40, placeholder = 'Ni Hao ma')}}
        </p>
        <p class="error_p">
            <ul>
                {% for error in form.username.errors %}
                    <li style="color:red;" class="error">{{error}}</li>
                {% endfor %}
            </ul>
        </p>

        <p>
            {{ form.password.label }}
            {{ form.password(size=40, placeholder = 'hello')}}
        </p>
        <p class="error_p">
            <ul>
                {% for error in form.password.errors %}
                    <li style="color:red;" class="error">{{error}}</li>
                {% endfor %}
            </ul>
        </p>

        <p>
            {{ form.remember()}}
        </p>

        <p>
            {{ form.submit()}}
        </p>

    </form>
{%  endblock %}