{% extends 'dashboardBase.html' %}
{% block page_title %} User Settings {%  endblock %}

{% block page_content %}
    <h1> Settings</h1>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
        <hr>
    {%  endwith %}
    <form action="" method="post" id="form" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.colourTheme.label }}
            {{ form.colourTheme}}
        </p>
        <p class="error_p">
            <ul>
                {% for error in form.colourTheme.errors %}
                    <li style="color:red;" class="error">{{error}}</li>
                {% endfor %}
            </ul>
        </p>

        <p>
            {{ form.submit()}}
        </p>

    </form>

{% endblock %}