{%  extends 'base.html' %}
{% block page_title %} About {% endblock %}

{% block page_content %}
    <section>
        <div class="body-content-wrapper">
            <div class="body-heading">
                <h1 class="body-header"> About Us</h1>
            </div>
            <hr>
            <div id="about-content">
                <p>This website is developed by SBHS Class of 2021 Students</p>
                <hr>
                <h2>Developers</h2>
                <p>Richard Bao</p>
                <p>Aaryan Chabbra</p>
                <p>Ronald Lim</p>
                <p>Ryan Ong</p>
                <p>Blair Zong</p>
                <hr>
            </div>

        </div>
    </section>
{% endblock %}